body {
	background-color: orange;
}

.container {
	background-color: olive;
	width: 50%;
	padding: 20px;
	margin: 0 auto;
	border-radius: 15px;
	box-shadow: 15px 15px 15px DarkOliveGreen;
}

textarea#shout_status {
	min-width: 98%;
}